html {
    height: 100%;
    /* background-image: url("https://cdn.discordapp.com/attachments/853834619064156201/1076336515090747403/Ellekit_copy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; */
}

h2 {
    font-style: italic;
    font-weight: 400;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: lightblue; */
    /* background-image: url("https://cdn.discordapp.com/attachments/853834619064156201/1076336515090747403/Ellekit_copy.png"), linear-gradient(0deg, #F79CFF 0%, #F1C5FF 100%); */
    background-image: url("https://cdn.discordapp.com/attachments/853834619064156201/1076336515090747403/Ellekit_copy.png"), radial-gradient(ellipse at left top, #F1C5FF 0%, #F79CFF 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-align: center;
}

.outer {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.repo-btns {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center, space-between;
    flex-direction: column;
}

.btn {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.btn>p {
    flex-grow: 1;
}

.icon {
    width: 15%;
    padding: 5px 10px;
}

#cydia {
    background-color: rgb(163, 102, 72);
}

#sileo {
    background-color: rgb(47, 194, 191);
}

#zebra {
    background-color: rgb(51, 51, 51);
}

#installer {
    background-color: rgb(47, 145, 194);
}

@media screen and (max-width: 768px) {
    .repo-btns {
        width: 80%;
    }

    .text {
        font-weight: 400;
    }
}