:root {
	--light-color: rgb(24, 102, 76);
	--bright-color: rgb(11, 50, 37);
	--dark-color: rgb(8, 26, 30);
	--shadow-color: rgb(20, 60, 64);
	--tint-color: rgb(5, 170, 135);
	--credits-color: rgb(11, 69, 50);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: linear-gradient(to bottom,
			var(--dark-color),
			var(--bright-color));
	background-repeat: no-repeat;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
ul,
p,
.install-button {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	color: white;
	text-decoration: none;
}

h1 {
	all: unset;
	width: 100%;
	display: flex;
	justify-content: center;
}

h2 {
	font-size: 30px;
	opacity: 0.5;
	text-align: center;
	font-weight: normal;
}

h3 {
	font-size: 30px;
}

h4 {
	width: 100%;
	text-align: center;
	font-size: 35px;
}

h5 {
	font-size: 28px;
	text-decoration: none;
}

a {
	color: inherit;
}

section {
	height: 100vh;
}

ul {
	list-style: none;
	padding: 0;
	font-size: 20px;
	opacity: 0.8;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.install-button {
	cursor: pointer;
}

.dark-section {
	background-color: rgba(0, 0, 0, 0.2);
}

.main-section,
.info-section,
.rootless-jb-info-section,
.developer-info-section,
.credits-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.main-section>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#dopamine-icon {
	border-radius: 2rem;
	width: 10rem;
	margin-bottom: 1rem;
}

#dopamine-logo {
	width: 22rem;
	margin-block: 1rem;
}

.contact-button {
	margin-top: 20px;
	opacity: 0.5;
}

.install-button {
	background-color: var(--tint-color);
	border: 0;
	padding: 1rem 2rem;
	font-weight: bold;
	font-size: 15px;
	border-radius: 100vh;
	box-shadow: 0 5px 20px 1px var(--shadow-color);
	transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.install-button:hover {
	transform: scale(102%);
	filter: brightness(110%);
}

.info-section,
.rootless-jb-info-section,
.developer-info-section {
	flex-direction: row;
}

.info-section>div,
.rootless-jb-info {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 35%;
}

.credits-section>div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 2rem;
}

.credits-section>div>#last-row {
	grid-column: span 3;
	display: flex;
	justify-content: center;
	gap: inherit;
}

.developer-info {
	display: flex;
	flex-direction: column;
	width: 35%;
	text-align: center;
}

.info-section-image {
	width: 20rem;
}

.developer-info-section {
	height: 20rem;
}

.credit-box {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: var(--credits-color);
	width: 22rem;
	border-radius: 10px;
}

.credit-box img {
	width: 6rem;
	height: 6rem;
	border-radius: 10px 0 0 10px;
}

.credit-box p {
	margin: 0;
	display: flex;
}

.credit-box {
	text-decoration: none;
	transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
	position: relative;
}

.credit-box:hover {
	transform: scale(102%);
	filter: brightness(110%);
}

.credit-box div {
	margin-top: -10px;
}

@media (max-width: 600px) {
	.desktop-only {
		display: none;
	}

	.info-section>div,
	.rootless-jb-info,
	.developer-info {
		width: 90%;
		text-align: center;
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 23px;
	}

	h3 {
		font-size: 25px;
	}

	h4 {
		font-size: 23px;
	}

	h5 {
		font-size: 25px;
	}

	ul {
		font-size: 17px;
	}

	.install-button {
		font-size: 13px;
	}

	.credits-section>div {
		width: 90%;
	}

	#dopamine-logo {
		width: 90%;
	}
}

@media (max-width: 1400px) {
	.credits-section>div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90%;
	}

	.credits-section {
		height: auto;
		padding-block: 4rem;
	}

	.credits-section>div>#last-row {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.credit-box {
		width: 100%;
	}

	.credit-box::after {
		content: "";
		position: absolute;
		right: 1rem;
		font-weight: bold;
		border-right: 2px solid var(--light-color);
		border-bottom: 2px solid var(--light-color);
		height: 5px;
		width: 5px;
		transform: rotate(-45deg);
	}

	section {
		height: 150vh;
	}
}
